{% extends "base_creator.html" %}
{% load static %}
{% block content %}
	<script src="{% static 'blockly/blockly_compressed.js' %}"></script>
	<script src="{% static 'blockly/python_compressed.js' %}"></script>
	<script src="{% static 'blockly/blocks_compressed.js' %}"></script>
	<script src="{% static 'blockly/msg/zh-hant.js' %}"></script>
    <script src="{% static 'js/creator/blockly_storage.js' %}" type="text/javascript"></script>

    <input id="num_visit" hidden name="num_visit" value="{{ num_visits }}" title="Rules">
    <input id="variable_1_name" hidden name="variable_1_name" value="{{ variable_1_name }}">
    <input id="variable_2_name" hidden name="variable_2_name" value="{{ variable_2_name }}">
    <input id="variable_3_name" hidden name="variable_3_name" value="{{ variable_3_name }}">
    <input id="variable_4_name" hidden name="variable_4_name" value="{{ variable_4_name }}">
    <input id="variable_5_name" hidden name="variable_5_name" value="{{ variable_5_name }}">

	<div id="blocklyDiv" style="height: 100vh; width: 80vw;"></div>
    <p id="textarea"></p>
    <xml id="toolbox" style="display: none">
      <category name="邏輯">
          <block type="controls_if"></block>
          <block type="logic_compare"></block>
          <block type="logic_operation"></block>
          <block type="logic_negate"></block>
          <block type="logic_boolean"></block>
      </category>
      <category name="數學">
          <block type="math_number"></block>
          <block type="math_arithmetic"></block>
          <block type="math_single"></block>
          <block type="math_number_property"></block>
          <block type="math_round"></block>
          <block type="math_modulo"></block>
          <block type="math_random_int"></block>
      </category>
      <category name="變數設定">
      	<block type="user_define_variable"></block>
      	<block type="set_user_define_variable"></block>
        <block type="variables_get"></block>
        <block type="variables_set"></block>
      </category>
      <category name="變數比較">
          <block type="variable_vs_variable"></block>
          <block type="variable_vs_number"></block>
          <block type="number_vs_variable"></block>
      </category>
      <category name="流程事件">
      	  <block type="start_block"></block>
      	  <block type="end_game_event"></block>
      	  <block type="end_game_event_with_text"></block>
      </category>
      <category name="移動事件">
      	  <block type="move_forward_event"></block>
      	  <block type="move_backward_event"></block>
          <block type="move_to_event"></block>
          <block type="turn_over_event"></block>
      </category>
      <category name="傳送事件">
      	<block type="teleport_event"></block>
      	<block type="teleport_random_event"></block>
      	<block type="teleport_all_random_event"></block>
      	<block type="teleport_except_self_random_event"></block>
      </category>
      <category name="交換事件">
      	<block type="swap_event"></block>
      	<block type="swap_all_event"></block>
      	<block type="swap_except_self_event"></block>
      </category>
      <category name="文字事件">
        <block type="normal_event"></block>
      </category>
      <category name="音效事件">
        <block type="play_sound_url"></block>
        <block type="play_sound_user_define"></block>
        <block type="change_background_sound_to"></block>
      </category>
    </xml>
    <form action="" method="post">
    	{% csrf_token %}
    	<textarea id="rules" hidden name="rules"></textarea>
    	<textarea id="blockly_text_area" hidden name="blockly_text_area"></textarea>
    	<button id="update" class="w3-button w3-black" style="position: fixed;right: 0px;top: 10vh;z-index: 999;">更新</button>
    </form>
<!--     <button id="test" class="w3-button w3-black" style="position: fixed;right: 100px;top: 0px;z-index: 999;">測試</button>
    <button id="test2" class="w3-button w3-black" style="position: fixed;right: 200px;top: 0px;z-index: 999;">測試2</button> -->

    <script type="text/javascript">
    	var rolled_rule_blockly = {{ rolled_rule_blockly|safe }};
    </script>
    <script src="{% static 'js/creator/map_rule.js' %}" type="text/javascript"></script>
    <style type="text/css">
    	.blocklyToolboxCategory {
    		padding-top: 1vh;
    		padding-bottom: 1vh;
    	}
    </style>
{% endblock %}
{% block additionalScript %}
  <script>
    $('#map-page').addClass("side-bar-item-activate");
  </script>
{% endblock %}