{% extends "base_creator.html" %}
{% load static %}
{% block files %}
<link rel="stylesheet" href="{% static 'css/gallery_search.css' %}">
{% endblock %}
{% block content %}
<form method="get">
  <div class="wrap">
   <div class="search">
      <input name="q" type="text" class="searchTerm" placeholder="可輸入作者或地圖名稱來搜尋" {% if query_author %} value="{{ query_author }}" {% endif%}>
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
   </div>
</div>
</form>
<ul id="search-result">
    {% for user_map in queryset %}
      <li>
        <a href={{ user_map.get_absolute_url }}>{{ user_map.map_name }}</a>
      </li>
    {% endfor %}
    {{ no_search_result }}
</ul>
{% endblock %}
{% block additionalScript %}
  <script>
    $('#map-gallery').addClass("side-bar-item-activate");
  </script>
{% endblock %}